/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
    /*background-clip: url('/images/210729888.hd.mp4'); */
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 0 5000px rgba(0, 0, 0, 0.5);
    color: #fff;
    /*  padding-bottom: 5rem; 
    height: 630px;*/
}

.video {
    
}

.hero .row {
    vertical-align: center;
}

.hero .button {
    color: white;
    height: 50px;
    line-height: 50px;
}

.hero h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

div.twelve.columns {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

div.full.width {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}
