body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

.section {
    padding: 3rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.welcome {
    max-height: 80px;
    height: 25%;
	text-align: center;
    background-image: url('/images/mascot.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (min-width: 550px) {
    .welcome {
        max-height: 200px;
    }
}

.part2 {
    margin-top: 0px;
    height: 75%;
}

.part2.row {
    vertical-align: center;
    width: 100%;
}

.part2
a,
a:hover {
    color: black;
}

.with-border {
    box-sizing: border-box;
    min-height: 100%;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}
@media (min-width: 550px) {
    p {
        height: 100px;
    }
}

.part2 .image {
    margin-top: 2px;
    max-width: 100px;
}
