/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
    background-image: url('/images/15607697348_a0e3c08f2f_k.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 0 5000px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-bottom: 5rem; 
    height: 630px;
}

.hero .row {
    vertical-align: center;
    width: 100%;
    display: inline-block;
}
@media (min-width: 400px) {
    .hero .row { width: 100%; }
}
@media (min-width: 550px) {
    .hero .row { width: 100%; }
}
@media (min-width: 750px) {
    .hero .row { width: 80%; }
}
@media (min-width: 1000px) {
    .hero .row { width: 60%; }
}

.hero .button-div {
    
    width: 60%;
    display: inline-block;
}
@media (min-width: 400px) {
    .hero .button-div {
        width: 100%;
    }
}

.hero .button {
    color: white;
    height: 60px;
    line-height: 60px;
    border-width: 2px;
    border-color: white;
    vertical-align: center;
    border-radius: 0px;
    display: inline-block;
    font-size: 15px;
/*    margin-left: 60px;*/
/*    margin-right: 60px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (min-width: 400px) {
    .hero .button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.hero .button.button-primary {
   background-color: #d11e47;
   border-color: #d11e47;
/*   margin-left: 60px;*/
/*   margin-right: 60px;*/
   margin-top: 5px;
   margin-bottom: 5px;
}
@media (min-width: 400px) {
    .hero .button.button-primary {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.hero h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Raleway' , sans-serif;
    line-height: 1.3em;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}
@media (min-width: 400px) {
    .hero h1 { font-size: 30px; }
}
@media (min-width: 550px) {
    .hero h1 { font-size: 50px; }
}
@media (min-width: 750px) {
    .hero h1 { font-size: 60px; }
}

.hero h4 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Raleway' , sans-serif;
    margin: 0 0 .8em;
    margin-bottom: 20px;
    display: block;
    letter-spacing: 2px;
}

.pub {
    background-position: center;
    background-color: white;
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    height: 135px;
}

.topics {
    background-position: center;
    background-color: #F3F4F7;
    background-size: cover;
    color: #4a4a4a;
    padding-bottom: 5rem;
    height: 447px;
}
.topics h3 {
    text-transform: uppercase;
    line-height: 1.3em;
}

.recents {
    background-position: center;
    background-color: white;
    background-size: cover;
    color: #4a4a4a;
    padding-bottom: 5rem;
    height: 366px;
}

.design-sprints {
    background-position: center;
    background-color: #F3F4F7;
    background-size: cover;
    color: #4a4a4a;
    padding-bottom: 5rem;
    height: 440px;
}

.our-team {
    background-position: center;
    background-color: #717087;
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    height: 342px;
}

.picture-team {
    background-image: url('/images/dynamo20160923-black-white-award.png');
/*    background-size: cover;*/
/*    background-repeat: none;*/
/*    min-height: 300px;*/
/*    color: #fff;*/
/*    padding-bottom: 5rem;*/
/*    height: auto;*/
/*    height: auto;*/
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    
}

.hiring {
    background-position: center;
    background-color: white;
    background-size: cover;
    color: #4a4a4a;
    padding-bottom: 5rem;
    height: 368px;
}

.recent-blog {
    background-position: center;
    background-color: #F3F4F7;
    background-size: cover;
    color: #4a4a4a;
    padding-bottom: 5rem;
    height: 529px;
}

.contact {
    background-position: center;
    background-color: #717087;
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    height: 193px;
}

.foot {
    background-position: center;
    background-color: #393A4C;
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    height: 0px;
}

div.twelve.columns {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

div.full.width {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}
