/* Sections
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}


/* Hero
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
    background-image: url('/images/tavla_banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*box-shadow: inset 0px 0px 0 5000px rgba(0, 0, 0, 0.5);*/
    color: #fff;
    max-height: 900px;
}
@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
    }
}

.hero .row {
    vertical-align: center;
}

.hero .mascot-container {
    min-height: 100%;
}

.hero .mascot {
    width: 50%;
    max-width: 300px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    /*    top: 50%;*/
    /*    transform: translateY(-50%);*/
}
@media (min-width: 550px) {
    .hero .mascot { width: 100%; }
}
@media (min-width: 750px) {
    .hero .mascot { width: 100%; }
}

.hero h1 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
}
@media (min-width: 1000px) {
    .hero h1 { font-size: 50px; }
}

.hero h5 {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
}
@media (min-width: 550px) {
    .hero h5 { font-size: 16px; }
}
@media (min-width: 750px) {
    .hero h5 { font-size: 20px; }
}
@media (min-width: 1000px) {
    .hero h5 { font-size: 30px; }
}


.social-media {
    background-color: #1D6AC2;
    color: white;
}


div.twelve.columns {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

div.full.width {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}


